<div class="home__container">
  <app-card
    gameCover="./assets/fallenOrder.jpg"
    gameLabel="DIGITAL"
    gameTitle="DELUXE EDITION"
    gameValue="PC | PS5"
    gamePrice="R$399,99"
  ></app-card>

  <app-card
    gameCover="./assets/Battlefield_V.jpg"
    gameLabel="DIGITAL"
    gameTitle="BUY NOW!"
    gameValue="PC | XBOX ONE"
    gamePrice="R$199,99"
  ></app-card>

  <app-card
    gameCover="./assets/deadSpace.webp"
    gameLabel="DIGITAL"
    gameTitle="PLAY IT NOW!"
    gameValue="PC | PS4"
    gamePrice="R$259,00"
  ></app-card>

  <app-card
    gameCover="./assets/warcraft.jpg"
    gameLabel="DIGITAL"
    gameTitle="JUST IT!"
    gameValue="PC | PS5 | XBOX ONE"
    gamePrice="R$99,00"
  ></app-card>

</div>
